<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365104821699-aupit8qin2r989q1nho7phq6siso0tmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365104821699-aupit8qin2r989q1nho7phq6siso0tmb</string>
	<key>API_KEY</key>
	<string>AIzaSyAmQ5qRU4t84lMPL24hf4nSZg0TjyhC7Ow</string>
	<key>GCM_SENDER_ID</key>
	<string>365104821699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thefinalcountdownproject.bikeKollective</string>
	<key>PROJECT_ID</key>
	<string>bike-kollective-dd130</string>
	<key>STORAGE_BUCKET</key>
	<string>bike-kollective-dd130.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365104821699:ios:c0eb7f3db2bb665c80f976</string>
</dict>
</plist>